@page
@model ProyectoCiclo3.App.Frontend.Pages.ListRutasModel
@{
}
 
<h1>Listado de Rutas</h1>
<table class="table">
    @foreach (var rutas in Model.Rutas)
    {
        <tr>
            <td>@rutas.id</td>
            <td>@rutas.origen</td>
            <td>@rutas.destino</td>
            <td>@rutas.tiempo_estimado</td>
            <td>

            
              <a class="btn btn-info" asp-page="./Details" asp-route-busId="@rutas.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" href="">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>
              </td>
        </tr>
    }
</table>
