@page
@model ProyectoCiclo3.App.Frontend.Pages.EditEstacionesModel
@{
	var estacion = Model.Estacion;
}
 
<div class="text-center">
<form action="" method="post">

  <label for="id" class="form-label">id:</label>
  <input type="number" class="form-control" id="id" name="id" placeholder="id" asp-for="@estacion.id">

  <label for="Nombre" class="form-label">Nombre:</label>
  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" asp-for="@estacion.nombre">

  <label for="Direccion" class="form-label">Dirección:</label>
  <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Direccion" asp-for="@estacion.direccion">

  <label for="Coordenada_X" class="form-label">Coordenada X:</label>
  <input type="number" class="form-control" id="coord_x" name="coord_x" placeholder="Coordenada X" asp-for="@estacion.coord_x">

  <label for="Coordenada_Y" class="form-label">Coordenada Y:</label>
  <input type="number" class="form-control" id="coord_y" name="coord_y" placeholder="Coordenada Y" asp-for="@estacion.coord_y">
  
  <label for="Tipo" class="form-label">Tipo:</label>
  <input type="text" class="form-control" id="Tipo" name="Tipo" placeholder="Tipo" asp-for="@estacion.Tipo">


  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>